pkgbase = keepassxc-cryptomator
	pkgdesc = Store Cryptomator vault passwords in KeePassXC
	pkgver = 1.2.8
	pkgrel = 1
	url = https://plugin.purejava.org/
	arch = x86_64
	license = MIT
	makedepends = java-environment>=17
	makedepends = maven
	depends = cryptomator
	depends = keepassxc
	options = !strip
	source = keepassxc-cryptomator-1.2.8-sources.jar::https://github.com/purejava/keepassxc-cryptomator/releases/download/1.2.8/keepassxc-cryptomator-1.2.8-sources.jar
	source = keepassxc-cryptomator-1.2.8-sources.jar.asc::https://github.com/purejava/keepassxc-cryptomator/releases/download/1.2.8/keepassxc-cryptomator-1.2.8-sources.jar.asc
	validpgpkeys = 54CF8E1F55CE7E977A0E41895BFB2076ABC48776
	sha256sums = 78c8b1f455a8e936c351c4299a564e299e9b2d510aa73f5768d27d33e1bd1c96
	sha256sums = SKIP

pkgname = keepassxc-cryptomator
