pkgbase = keepassxc-cryptomator
	pkgdesc = Store Cryptomator vault passwords in KeePassXC
	pkgver = 1.3.2
	pkgrel = 1
	url = https://plugin.purejava.org/
	arch = any
	license = MIT
	makedepends = git
	makedepends = java-environment>=17
	makedepends = gradle
	depends = cryptomator
	depends = keepassxc
	options = !strip
	source = git+https://github.com/purejava/keepassxc-cryptomator.git#tag=1.3.2
	validpgpkeys = 54CF8E1F55CE7E977A0E41895BFB2076ABC48776
	sha256sums = ace4e86c05181db4f88e3afbab1fd985321073941e8707d32f91f4c52a5684c9

pkgname = keepassxc-cryptomator
